.container-album {
  flex-direction: row;
  flex-wrap: wrap;
  grid-gap: 15px 8px;
  justify-content: space-between;
  margin:auto;  display: flex;
  width: 90%;
}
.search-container {
  align-items: center;
  display: flex;
  grid-gap: 0px 10px;
  height: 200px;
  justify-content: center;
  margin: auto;
}

#search {
  background: #FFFFFF;
  border: 1px solid #3D495C;
  border-radius: 6px;
  gap: 10px;
  height: 35px;
  padding: 12px 16px;
  width: 419px;
}

#search-button {
align-items: center;
background: #003BE5;
border-radius: 2px;
color: #FFFFFF;
cursor: pointer;
gap: 10px;
height: 45px;
left: 926px;
top: 277px;
width: 134px;
}

#search-result {
  display: flex;
  font-family: 'Epilogue';
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin: 20px 20px;
  width: 90%;
}
