.core{
  margin: 20px;
  position: absolute;
  }

  input[type="checkbox"]{
    cursor: pointer;
    background-color: rgba(86, 76, 76, 0.216);
    height: 20px;
    outline: none;
    position: relative;
    transform: rotate(45deg);
    width: 20px;
  -webkit-appearance:none;
  }

  input[type="checkbox"]:before{
    background-color: rgba(86, 76, 76, 0.216);
    border-radius: 75px 75px 0 0;
    content: "";
    height: 60%;
    position: absolute;
    top: -59%;
    width: 100%;
  }

  input[type="checkbox"]:after{
    background-color: rgba(86, 76, 76, 0.216);
    border-radius: 75px 75px 0 0;
    content: "";
    position: absolute;
    height: 60%;
    right: 79%;
    top: 20%;
    transform: rotate(-90deg);
    width: 100%;
    }

  input[type="checkbox"]:checked,
  input:checked[type="checkbox"]:before,
  input:checked[type="checkbox"]:after{
  background-color: #fe0f42;
  }